* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, serif;
	font-size: 12px;
}

td { /* Looks like a Firefox bug... */
	font-family: Verdana, serif;
	font-size: 12px;
}

input {
	padding: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
}

#wrap {
	
}

#container {
	margin: auto;
	width: 650px;
}

#header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}

#content {
	
}

#footer {
	margin-top: 25px;
	font-size: 75%;
	text-align: center;
}

#topLink {
	float: right;
	text-align: right;
}

#logoutLink {
	float: left;
	text-align: left;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

div.login {
	text-align: center;
}

div.login table {
	margin-left: auto;
	margin-right: auto;
}

div.question {
	border: 1pt solid gray;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	-moz-border-radius: 4px 4px 4px 4px;
}

div.question td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1pt solid black;
	border-bottom: 1pt solid black;
	vertical-align: middle;
}

div.question tr {
	
}

div.instructions {
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.clear {
	clear: both;
}

#next {
	float: right;
}

#back {
	float: left;
}

div.pageNum {
	font-size: 80%;
	font-style: italic;
	float: right;
}

div.success {
	background-color: #99FF99;
	border-color: #99AA99;
	padding: 5pt;
}

div.errorList {
	background-color: #FF9999;
	padding-left: 10px;
}

div.errorList ul {
	padding-left: 20px;
}

div.commentSection {
	font-size: 80%;
}

div.commentSection a {
	text-decoration: none;
}

#commentBox {
	display: none;
}

div.disclaimer {
	font-size: 80%;
	font-style: italic;
}

div.teammatesList{
	font-size: 90%;
}

div.teammatesList a{
	text-decoration: none;
}

div.showTeammates{
	display: inline;
	padding: 5px 5px 5px 5px;
}

div#hideTeamList{
	display: none;
	height: 100px;
	overflow: auto;
	border: 1px solid grey;
	-moz-border-radius: 4px 4px 4px 4px;
	padding: 5px 5px 5px 5px;
}

div.hideTeammates li{
	list-style-type: none;	
	margin: 5px;
}

